.RightBar-container {
  height: 100%;
  width: 100%;
  max-width: 350px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  color: white;
  border: 1px solid #2f3336;
  width: 100%;
  border-radius: 16px;
  padding: 12px 0px;
}

.card-container h2 {
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.profiles-container {
  margin-top: 10px;
  /* padding: 0 5px; */
}

.profiles-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
