.navbar-wrapper {
  position: sticky;
  top: 0;
}

.home-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.posts-container {
  flex: 1;
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightBar {
  width: 33vw;
  min-width: 300px;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.add-post {
  display: flex;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #2f3336;
  gap: 5px;
}

.tweet {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}
.post-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #2f3336;
}

.post-options .image-icon {
  font-size: 1.5rem;
  color: #1da1f2;
  cursor: pointer;
}

.post-options button {
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 30px;
  cursor: pointer;
}

.post-options button:disabled {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

.tweet .error{
  color: #f4212e;
  font-size: 0.85rem;
  margin-top: -5px;

}