.navbar-wrapper {
  position: sticky;
  top: 0;
}

.home-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.posts-container {
  flex: 1;
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightBar {
  width: 33vw;
  min-width: 300px;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  height: 100vh;
}
