.navbar-wrapper {
  position: sticky;
  z-index: 1;
  top: 0;
}

.home-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.posts-container {
  flex: 1;
}

.feed-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.posts-list {
  animation: fadeIn 280ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
