*{
    margin: 0;
    padding: 0;
}

html body{
  height: 100%;
  overflow-y: auto;
    background-color: black;
}

.main-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* padding: 10px; */
    border-top: 2px solid #2f3336;
    border-bottom: 2px solid #2f3336;
}

.component-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.component-container > :first-child {
  width: 25vw;          
  flex-shrink: 0;      
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;    
  background: black;
}